.body_roum {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_start {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.body_img {
    display: flex;
    justify-content: space-between;
    background: url("https://s3-alpha-sig.figma.com/img/7ac4/b652/5b8a361233323c0f29ada62308f901db?Expires=1699833600&Signature=gmmz~eFtyBHEg0YJ-6g1GqmF1dFtramCIrMiZaZPhcE3p1oJW~xCWrj7ZPacV-4mA~7YDCkTGoyg6cab3lfwXTxTiEULN7W2Z75pbcF7mo36OxjiwImiK4p78CpXwQHXkR7SfUQi1r6p6Sc3N0wNegYGSa685KLP0bM4zDOHHIkXARhA-qsryCKSxsV5jnG0fbbyiM8I4qIRisrakPpKRL~k3VUStUfrUpYuQD3cjXAMLJC8XyyihjbiiDWPPjzCI4rsV2hDCOOlciE7Tv2zqjz-EqsO2~gUiNAvQBXhwreKbts7Dx1hwRmhbwCBq-GBf1-kJ9Xnxq-ulhvLg42KIQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), #24995D;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 114.9375rem;
    height: 53.8125rem;
    flex-shrink: 0;
}

.comp_info_first {
    padding: 7.5em 0 9.9em 0;
    text-align: left;
}

.comp_text_com {
    color: #000;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 3.125rem;
}

.comp_info_second {
    display: grid;
    grid-template-columns: repeat(2, 376px);
    gap: 33px;
}

.comp_text_dop {
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.125rem;
}

.img_on_img {
    width: 57.8125rem;
    height: 45.375rem;
    flex-shrink: 0;
    border-radius: 40.625rem 0rem 0rem 0rem;
}

.body_img_source {
    margin: 4.1625em 0 4.1625em 0;
}

.body_text_bcolum {
    padding: 5.8em 0 5.75em 0;
}

.body_text {
    color: #2E2E2E;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.875rem;
    /* 83.333% */
}

.int_card {
    display: grid;
    grid-template-columns: repeat(2, 376px);
    gap: 11em;
    align-items: center;
    justify-content: center;
    margin-bottom: 8.6875em;
}

.help_info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12.125em;
}

.help_info_text {
    margin-right: 5.0625em;
}

.help_text1 {
    color: #5C5C5C;
    text-align: right;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
    /* 115.385% */
}

.help_text2 {
    color: #A4A4A4;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    float: right;
}

.button_help {
    width: 11.5625rem;
    height: 3.125rem;
    flex-shrink: 0;
    border-radius: 1.5625rem;
    border: 1px solid #24995D;
    background: #24995D;
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.875rem;
    cursor: pointer;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.button_help:hover {
    background: #589c79;
}

.clients_comp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.25em;
}

.text_info{
    margin-right: 1.625em;
}

.text_info1 {
    color: #434448;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.125rem;
    /* 185.185% */
    text-transform: uppercase;
    width: 13.0625rem;
    margin-bottom: 0.125em;
}

.text_info2 {
    color: #737373;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    width: 25.375rem;
    margin-bottom: 0.0625em;
}

.text_info2:last-child{
    margin: 0;
}

.img_source{
    display: grid;
    gap: 3.34375em;
    grid-template-columns: repeat(3, 1fr);
}
.background_img {
    width: 114.9375rem;
    height: 53.8125rem;
    flex-shrink: 0;
}

.map{
    display: flex;
    justify-content: center;
}