.image_contact{
    text-align: center;
    height: 16em;
    background: url(https://s3-alpha-sig.figma.com/img/2ca7/d68e/d7b0bcd1cbce819894e9673f2f68e467?Expires=1701043200&Signature=lrQdJPjTy~4swKHERAm7LqybDrCWmgTY2Wy~N1vtI26bEZz5MXyXWDVCdWRTQ9aqoDmJZjGz4Hl9KudxzRZ2V3phLffLLNFxvkFXVmF6abQLu~cXo5oBaVrxBtW5AqLNZt-DclcX4gf77Ma-8l-KL3A9N9tqIHJhTFJYnhmoruJ8bDCrlLVKkH8wkew2z-EJkv5tHHFKgNPgqwDo3itDBAJLCjdcpwAdIlqdvV~2nXJOVAsdYEaRlie-fisQYK1bhs1Necnwot-Aa6Oxd-imWROJeXXoC~Pw~GoV05lHganE70PVNFsfO1G0GJoyRvoihTPDGyQ-i52ZWMu6liqsLg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
}

.image_contact p:first-of-type{
    color: #fff;
    font-size: 2em;
    line-height: 2em;
}

.image_contact p{
    color: #fff;
    font-size: 1em;
}

.contact_about{
    margin: 0 2em;
}
.head_adress{
    line-height: 1.5em;
    font-size: 2em;
    color: #434448;
}

.main_office{
    font-size: 0.9em;
    color: #434448;
    margin-top: 1em;
    margin-bottom: 2em;
}

.main_info_contact{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 3em;
}

.additional_info{
    color: #A5A5A5;
}

.block_consult{
    display: flex;
    justify-content: space-between;
}

.consult_spec{
    width: 45%;
    height: 35em;
    background: url(https://s3-alpha-sig.figma.com/img/ed42/7e29/02eb2d83b07492789a9a0969f2885eef?Expires=1701043200&Signature=QO9zSyOhV4psupfT-y8rPtOXt03zRSgwS3IRXz1YCo9g9FrR9jmAn0bDw9HVJ29hxq01xPQ99ATYnfM3fUbgsPSNzQQOUPvmdEPVh4puwK-BO-gMWLzwbVlcoc2A9~adDSs7Ep9U05g3ME3zzK1xezKehIhDRZoLEJCEXFKIUOxv9RihyvHu0tjMJ~0R5~hMHBW9Cr5Wf8n287Hv6TLuOAiXwV8n9ZUQDKfedrkYueAe51TXmnwuqqg7VEuTpFN7cnaPXje4QVWKTTG-gd75KXExSI4-KAUNjKcyUNhSTKgJe00LErj9xc8m-cxobEnfMfSlg0CZSrqMkcNjXSd9Og__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4) no-repeat;
}
.consult_spec p{
    padding-left: 14em;
    padding-top: .5em;
    font-size: 1.5em;
    line-height: 2em;
}
.form_question{
    width: 45%;
}
.form_question p{
    color: #737373;
}
.default_quest{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}
.input_box{
    display: flex;
    flex-direction: column;
    margin: .5em 0;
}
.input_text_select{
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    height: 2em;
    font-size: 16px;
}
.radio_box{
    display: flex;
    flex-wrap: wrap;
}
.input_text{
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    font-size: 16px;
}
.input_text_def{
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    width: 20em;
    height: 3em;
    font-size: 16px;
}

input {padding-left: 1em;}

textarea {padding-left: 1em;}

.radio_box label{
    width: 100%;
}
.input_box_area{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.btn_send{
    margin-top: 1em;
    border-radius: 14px;
    border: 2px solid #2B6943;
    background: #2B6943;
    width: 100%;
    color: #fff;
    height: 50px;
    cursor: pointer;
}
.text{
    color: #737373;
    font-size: 13px;
}